.ColorSection{
    background-color: $primary;
}

.LightSection{
    background-color: $secondary;
}

.mb-5{
    margin-bottom: 20px;
}

.mb-3{
    margin-bottom: 12px;
}

.mb-4{
    margin-bottom: 16px;
}

.mb-8{
    margin-bottom: 32px;
}




@import '~bootstrap/scss/bootstrap';